<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Static -->
    {% load static %}
    <link href="{% static 'sales_api/css/master.css' %}" rel="stylesheet" /><!-- CSS -->
    <script src="{% static 'sales_api/js/jquery-3.7.1.min.js' %}"></script><!-- jQuery -->
    <script src="{% static 'sales_api/js/main.js' %}"></script>

    <!-- Script -->
    <script src="https://kit.fontawesome.com/0a4905cadf.js" crossorigin="anonymous"></script>

  <body>
    {% block account %}{% endblock %}
  </body>
</html>