{% extends 'sales_api/master.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="block">
    <span class="icon-text is-size-4">
      <span class="icon"><i class="fa-solid fa-key"></i></span>
      <span>Change Password</span>
    </span>
  </div>

  <!-- Form -->
  <div class="box">
    <form class="block" method="post" id="data">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
    <div class="field is-grouped">
      <button type="submit" class="button is-success" form="data">
        <span>Save</span>
        <span class="icon"><i class="fa-solid fa-check ml-2"></i></span>
      </button>
      <a class="button is-danger" href="{% url 'sales_api:user' %}">
        <span>Cancel</span>
        <span class="icon"><i class="fa-solid fa-xmark ml-2"></i></span>
      </a>
    </div>
  </div>
{% endblock %}
