{% extends "sales_api/master.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
{% if perms.sales_api %}

<!-- Header -->
<div class="block">
  <span class="icon-text is-size-4">
    <span class="icon"><i class="fa-solid fa-key"></i></span>
    <span>Change Password</span>
  </span>
</div>

<div class="box">
  <div class="block">
    <p class="title is-size-5">Password Change Successful</p>
    <p class="subtitle is-size-6">Your password has been changed</p>
  </div>

  <a class="button is-success" href="{% url 'sales_api:user' %}">
    <span>Okay</span>
    <span class="icon"><i class="fa-solid fa-check ml-2"></i></span>
  </a>
{% else %}
  <div class="block">
    <p>You are not a staff</p>
    <a href="{% url 'login' %}">Log in as staff</a>
  </div>
{% endif %}
</div>
{% endblock %}
