{% extends 'registration/master.html' %}
{% load crispy_forms_tags %}

{% block account %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <p class="title has-text-centered is-floating-y">Signup</p>
            <div class="block">
              <form method="post" id="logsignupin">
                {% csrf_token %}
                {{ form|crispy }}
              </form>
            </div>
            <div class="block has-text-centered">
              <button type="submit" class="button is-info" form="signup">
                <span class="icon-text">
                  <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
                  <span>Sign Up</span>
                </span>
              </button>
            </div>
            <div class="block has-text-centered">
              Already have account ?
              <a href="{% url 'login' %}">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
