{% extends "sales_api/master.html" %}

{% block title %}
  Sales
{% endblock %}

{% block content %}
<div class="card is-floating-y">

  <!-- Header -->
  <div class="card-header">
    <span class="icon-text is-size-4 card-header-title">
      <span class="icon"><i class="fa-solid fa-sack-dollar"></i></span>
      <span>Sales</span>
    </span>
    <div class="card-header-icon">    
      <a class="button has-text-weight-bold is-success" {% if user.is_superuser %} href="{% url 'sales_api:saleadd' %}" {% else %} disabled {% endif %}>
        <span class="icon-text">
          <span>Add</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </span>
      </a>
    </div>
  </div>

  <!-- Content -->
  <div class="card-content">
    <table class="table is-size-7 is-hoverable" id="mastertable">
      <thead>
        <tr>
          <th class="has-text-centered">ID</th>
          <th class="has-text-centered">Customer</th>
          <th class="has-text-centered">Product</th>
          <th class="has-text-centered">Quantity</th>
          <th class="has-text-centered">Total Price</th>
          <th class="has-text-centered">Sale Date</th>
          <th class="has-text-centered">Category</th>
          <th class="disable-sorting"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in sale_list %}
        <tr>
          <td class="has-text-centered">{{ item.id }}</td>
          <td class="has-text-centered">{{ item.customer }}</td>
          <td class="has-text-centered">{{ item.product }}</td>
          <td class="has-text-centered">{{ item.quantity }}</td>
          <td class="has-text-centered">${{ item.total_price }}</td>
          <td class="has-text-centered">{{ item.sale_date }}</td>
          <td class="has-text-centered">{{ item.category }}</td>
          <td>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-small is-info" {% if user.is_superuser %} href="/sales/sale/item_{{ item.id }}" {% else %} disabled {% endif %}>
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </p>
              <p class="control">
                <button class="button is-small is-danger modal-button" {% if user.is_superuser %} data-id="delete-modal" data-itemid="{{ item.id }}" data-name="Sale of {{ item.product }} to {{ item.customer }}" {% else %} disabled {% endif %}>
                  <i class="fa-solid fa-eraser"></i>
                </button>
              </p>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No data yet...</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<!-- Update & Delete -->
<div id="delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-text-centered">
    <div class="box">
      <figure class="block">
        <svg xmlns="http://www.w3.org/2000/svg" height="128" width="128" viewBox="0 0 512 512">
          <path fill="#ffdd57" d="M248.4 84.3c1.6-2.7 4.5-4.3 7.6-4.3s6 1.6 7.6 4.3L461.9 410c1.4 2.3 2.1 4.9 2.1 7.5c0 8-6.5 14.5-14.5 14.5l-387 0c-8 0-14.5-6.5-14.5-14.5c0-2.7 .7-5.3 2.1-7.5L248.4 84.3zm-41-25L9.1 385c-6 9.8-9.1 21-9.1 32.5C0 452 28 480 62.5 480l387 0c34.5 0 62.5-28 62.5-62.5c0-11.5-3.2-22.7-9.1-32.5L304.6 59.3C294.3 42.4 275.9 32 256 32s-38.3 10.4-48.6 27.3zM288 368a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm-8-184c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 96c0 13.3 10.7 24 24 24s24-10.7 24-24l0-96z"/>
        </svg>
      </figure>
      <p class="title">Are You Sure ?</p>
      <p class="block">You are about to delete <strong id="itemName"></strong>, this action cannot be undone.</p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="itemId" id="itemId">
        <div class="buttons is-centered">
          <button type="submit" class="button is-danger">Delete</button>
          <button type="button" class="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
