{% extends "sales_api/master.html" %}

{% block title %}{% block header %}
  Customers
{% endblock %}{% endblock %}

{% block content %}
<div class="card is-floating-y">

  <!-- Header -->
  <div class="card-header">
    <span class="icon-text is-size-4 card-header-title">
      <span class="icon"><i class="fa-solid fa-users"></i></span>
      <span>Customers</span>
    </span>
    <div class="card-header-icon">    
      <a class="is-colorized has-text-weight-bold" href="{% url "sales_api:customeradd" %}">
        <span class="icon-text">
          <span>Add</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </span>
      </a>
    </div>
  </div>

  <!-- Content -->
  <div class="card-content">
    <table class="table is-size-7 is-bordered is-hoverable" id="mastertable" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th class="disable-sorting"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in customers_list %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.last_name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone_number }}</td>
          <td>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-small is-success" href="/sales/customer/item_{{ item.id }}">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </p>
              <p class="control">
                <a class="button is-small is-danger" href="/sales/customer/del_item_{{ item.id }}">
                  <i class="fa-solid fa-eraser"></i>
                </a>
              </p>
            </div>
          </td>
        </tr>
        {% empty %}
      </tbody>
        <tr>
          <td colspan="7">No data yet...</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  
</div>
{% endblock %}
