{% extends "sales_api/master.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
<div class="card">

  <!-- Header -->
  <div class="card-header">
    <div class="card-header-title">
      <span class="icon-text is-size-4">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span>Profile</span>
      </span>
    </div>
    <button class="card-header-icon has-text-weight-bold is-colorized js-modal-trigger" data-target="modal-js">
      <span class="icon-text">
        <span>Log out</span>
        <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
      </span>
    </button>
  </div>

  <!-- Log out Confirmation -->
  <div id="modal-js" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content box">
        <p class="subtitle has-text-centered">Do you want to log out ?</p>
        <form class="field is-grouped" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="button is-success is-responsive is-fullwidth">Yes</button>
          <button type="button" class="button is-danger is-responsive is-fullwidth" aria-label="close">Cancel</button>
        </form>
    </div>
  </div>

  <!-- Content -->
  <div class="card-content">
    <form class="block" method="post" id="data">
      {% csrf_token %}
      {% crispy formuser %}
    </form>
    <div class="field is-grouped">
      <button type="submit" class="button is-success" form="data">
        <span class="icon-text">
          <span>Save</span>
          <span class="icon"><i class="fa-solid fa-check"></i></span>
        </span>
      </button>
    </div>
  </div>

</div>
{% endblock %}