{% extends 'sales_api/master.html' %}
{% load humanize %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
<!-- Header -->
<div class="block">
  <span class="icon-text is-size-4">
    <span class="icon"><i class="fa-solid fa-gauge"></i></span>
    <span id="textElement">Dashboard</span>
  </span>
</div>

<hr>
<div class="block">
  <div class="level">
    <div class="level-left">
      <h1 class="title">Internal</h1>
    </div>
    <div class="level-right">
      <!-- Export PDF -->
      <button class="button" type="submit" name="generate_pdf" form="dash-form">Export</button>

      <!-- Date Select Form -->
      <form method="POST" action="{% url 'sales_api:dashboard' %}" id="dash-form">
        {% csrf_token %}
        
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <select name="months" id="month-input" form="dash-form">
                {% for item in date.month %}
                  <option value="{{ item }}" {% if item == date.month_select %} selected {% endif %}>{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="control">
            <input name="year" id="year-input" class="input" type="number" min="1000" max="9999" value="{{ date.year_select }}" form="dash-form">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Dashboard Content -->
<!-- Sales -->
<div class="card">
  <header class="card-header">
    <h1 class="card-header-title">Sales - {{ date.month_select }} {{ date.year_select }}</h1>
    <button class="card-header-icon is-colorized dashboard_card">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  
  <div class="card-content">
    
    <!-- Line Chart -->
    <div class="box" style="height: 50vh;">
      <canvas id="monthlySales"></canvas>
    </div>

    <div class="columns has-text-centered">

      <!-- Total Orders Section -->
      <div class="column">
        <div class="box">
          <h1 class="title is-5">Total Orders</h1>
          <div class="has-text-centered">
            <span>{{ kpi.order.total|safe }}</span>
            <span class="icon-text 
              {% if kpi.order.growth_rate < 0 %} has-text-danger {% else %} has-text-success {% endif %}">
              <span class="icon">
                <i class="fa-solid fa-caret-{% if kpi.order.growth_rate < 0 %}down{% else %}up{% endif %} fa-beat"></i>
              </span>
              <span>{{ kpi.order.growth_rate|safe|floatformat }}%</span>
            </span>
          </div>
        </div>
      </div>

      <!-- Average Order Value Section -->
      <div class="column">
        <div class="box">
          <h1 class="title is-5">Average Order Value</h1>
          <div class="has-text-centered">
            <span>Rp{{ kpi.aov.total|safe|intcomma }}</span>
            <span class="icon-text 
              {% if kpi.aov.growth_rate < 0 %} has-text-danger {% else %} has-text-success {% endif %}">
              <span class="icon">
                <i class="fa-solid fa-caret-{% if kpi.aov.growth_rate < 0 %}down{% else %}up{% endif %} fa-beat"></i>
              </span>
              <span>{{ kpi.aov.growth_rate|safe|floatformat }}%</span>
            </span>
          </div>
        </div>
      </div>

      <!-- Total Revenue Section -->
      <div class="column">
        <div class="box">
          <h1 class="title is-5">Total Revenue</h1>
          <div class="has-text-centered">
            <span>Rp{{ kpi.revenue.total|safe|intcomma }}</span>
            <span class="icon-text 
              {% if kpi.revenue.growth_rate < 0 %} has-text-danger {% else %} has-text-success {% endif %}">
              <span class="icon">
                <i class="fa-solid fa-caret-{% if kpi.revenue.growth_rate < 0 %}down{% else %}up{% endif %} fa-beat"></i>
              </span>
              <span>{{ kpi.revenue.growth_rate|safe|floatformat }}%</span>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Product -->
<div class="card">
  <header class="card-header">
    <h1 class="card-header-title">Product - {{ date.month_select }} {{ date.year_select }}</h1>
    <button class="card-header-icon is-colorized  dashboard_card" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

  <div class="card-content" style="display: none;">
    
    <!-- Stock Overview -->
    <div class="columns is-vcentered">

      <!-- Total Stock and Sold Units -->
      <div class="column is-narrow">
        <div class="box has-text-centered">
          <p class="title is-5">Units Sold Monthly</p>
          <p class="">{{ kpi.products.monthly|safe }} / 25 Units (Quota)</p>
          <hr>
          <progress class="progress is-small is-success" value="{{ kpi.products.monthly|safe }}" max="25"></progress>
        </div>
        <div class="box has-text-centered">
          <p class="title is-5">Units Sold Yearly</p>
          <p class="">{{ kpi.products.yearly|safe }} / 300 Units (Quota)</p>
          <hr>
          <progress class="progress is-small is-success" value="{{ kpi.products.yearly|safe }}" max="300"></progress>
        </div>
      </div>

      <!-- Product Orders Chart -->
      <div class="column">
        <div class="box">
          <button id="updateProdM" class="button is-small">Monthly</button>
          <button id="updateProdY" class="button is-small">Yearly</button>
          <hr>
          <div style="height:40vh">
            <canvas id="productOrders"></canvas>
          </div>
        </div>
      </div>

    </div>

    <!-- Stock Level Chart -->
    <div class="box">
      <p><strong class="title is-5">Total Stock : </strong>{{ kpi.product.total|safe }} Units</p>
      <hr>
      <div class="mb-6" style="height:40vh">
        <canvas id="stockLevel"></canvas>
      </div>

      <!-- Low Stock Warning -->
      {% if kpi.products.low %}
      <article class="message is-danger">
        <div class="message-header">
          <p>⚠️ Shortage</p>
        </div>
        <div class="message-body">
          <ul>
            {% for item in kpi.products.low %}
            <li>
              <strong>{{ item.name }}</strong>: 
              <span class="has-text-weight-bold">{{ item.stock }}</span> units remaining.
            </li>
            {% endfor %}
          </ul>
        </div>
      </article>
      {% else %}
      <div class="notification is-success">
        <p>No products are currently in low stock.</p>
      </div>
      {% endif %}

    </div>

  </div>
</div>

<!-- Customer Insights -->
<div class="card">
  <header class="card-header">
    <h1 class="card-header-title">Customer - {{ date.month_select }} {{ date.year_select }}</h1>
    <button class="card-header-icon is-colorized dashboard_card" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

  <!-- Card Content -->
  <div class="card-content" style="display: none;">

    <!-- Total Customers Box -->
    <div class="box">
      <p>
        <strong class="title is-5">Total Customers: </strong>
        {{ kpi.customers.total|safe }}
      </p>
      <hr>
      <!-- Region Comparison Chart -->
      <div class="chart-container" style="height: 40vh;">
        <canvas id="regionCompare"></canvas>
      </div>
    </div>

    <!-- Customer Orders Box -->
    <div class="box">
      <!-- Buttons to Update Chart -->
      <div class="buttons">
        <button id="updateCustM" class="button is-small">Monthly</button>
        <button id="updateCustY" class="button is-small">Yearly</button>
      </div>
      <hr>
      <!-- Customer Orders Chart -->
      <div class="chart-container" style="height: 40vh;">
        <canvas id="customerOrders"></canvas>
      </div>
    </div>

  </div>
</div>

<hr>
<div class="block">
  <h1 class="title">External</h1>
</div>

<div class="card">
  <header class="card-header">
    <h1 class="card-header-title">Exchange Rate</h1>
    <button class="card-header-icon is-colorized dashboard_card" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

  <!-- Card Content -->
  <div class="card-content" style="display: none;">

    {% if rates %}
    <ul class="columns">
        {% for currency, rate in rates.items %}
        <div class="column">
          <div class="box has-text-centered">
            <h1 class="title">{{ currency }}</h1>
            <p class="subtitle">{{ rate|floatformat }}</p>
          </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
      <p>Could not fetch exchange rates. Please try again later.</p>
    {% endif %}

  </div>
</div>

<!-- JavaScript for Charts -->
<script>
  // Define Date
  let month_name = "{{ date.month_select }}";
  let current_year = "{{ date.year_select }}";

  // Define Chart Data
  let annual_sales_labels = {{ charts.annual_sales.labels|safe }};
  let annual_sales_counts = {{ charts.annual_sales.counts|safe }};
  let forecast_sales_labels = {{ charts.forecast_sales.labels|safe }};
  let forecast_sales_counts = {{ charts.forecast_sales.counts|safe }};

  let prod_orders_monthly_labels = {{ charts.prod_orders.monthly_labels|safe }};
  let prod_orders_monthly_counts = {{ charts.prod_orders.monthly_counts|safe }};
  let prod_orders_yearly_labels = {{ charts.prod_orders.yearly_labels|safe }};
  let prod_orders_yearly_counts = {{ charts.prod_orders.yearly_counts|safe }};

  let cust_orders_monthly_labels = {{ charts.cust_orders.monthly_labels|safe }};
  let cust_orders_monthly_counts = {{ charts.cust_orders.monthly_counts|safe }};
  let cust_orders_yearly_labels = {{ charts.cust_orders.yearly_labels|safe }};
  let cust_orders_yearly_counts = {{ charts.cust_orders.yearly_counts|safe }};

  let stock_level_labels = {{ charts.stock_level.labels|safe }};
  let stock_level_counts = {{ charts.stock_level.counts|safe }};

  let region_compare_labels = {{ charts.region_compare.labels|safe }};
  let region_compare_counts = {{ charts.region_compare.counts|safe }};

</script>
{% endblock %}